[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pyaml = "*"
yaxil = "*"
jinja2 = "*"
natsort = "*"
nibabel = "*"
jsonpath-ng = "*"
requests-cache = "*"
google-api-python-client = "*"
google-auth-oauthlib = "*"
mrverify = {editable = true, path = "."}

[dev-packages]
vcrpy = "*"

[requires]
python_version = "3"
